.navLogin {
    width: 100%;
    height: 40px;
    background-color: black;
    border-radius: 15px 0 0 0;
}

.navLogin i{
    cursor: pointer;
}

.user input {
    padding-left: 30px;
    border: none;

}

.name input {
    /* padding-left: 30px; */
    border: none;

}
.btn_sign{
    background-color:  #001B48;
    color: #fff;
    border: none;
    padding: .5rem;
}
.btn_sign:hover{
    background-color: #487e98;
    color: #fff;
}



.formControlCustom:focus {
    border: none;

}

.formControlCustom:focus {
    border: none;
}

.iconUser {
    top: 30%;
    padding: 0px 10px;
}

.sin{
    background: linear-gradient( rgb(147, 219, 248),#fff);
}


.content h6 {
    font-size: 14px;
}

.otherLogin h5 span{
    color: #487e98;
}

.otherLogin i{
    color: #487e98;
}